.wrapper {
    color: white;
    .about {
        padding: 0 1rem;
        margin: 2rem 0;
        &__content {
            padding: 2rem;
            
            &__image {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 3.5rem;
                img {
                    width: 280px;
                    border-radius: 50%;
                }
            }

            &__info {
                line-height: 2;
            }
        }
    }
}

@media (min-width: 700px) {
   .wrapper {
       width: 50rem;
       margin: 0 auto;
       .about {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;

           &__content {
               
               &__image {
                display: flex;
                justify-content: center;
               }

               &__info {
                   font-size: 1.5em;
               }
           }
       }
   }
}