.about-me {
    text-align: center;
    line-height: 1.5;
    
    &__container--top {
        background: $slateGray;
        color: $flashWhite;
        padding: 1rem;
        line-height: 2;
    }

    &__content {
        padding: 1rem;
    }
}