.contact {
    font-family: 'Noto Sans JP', sans-serif;


    &__header {
        text-align: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;

        input {
            margin-bottom: .25rem;
            padding: .5rem .75rem;
        }

        textarea {
         @extend input;
        }
    }

    &__btn {
        margin: 1rem auto;
        padding: 1rem 1rem;
        border-radius: 8px;
        font-family: inherit;
        width: 10rem;
    }
    
    &__link {
    
    }
}
