.contact {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 3rem 0 0 0;

    &__header {
        text-align: center;
        font-weight: 400;
        font-size: 2rem;
        margin: 3rem 0;
        padding-top: 4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;

        input {
            margin-bottom: .25rem;
            padding: .5rem .75rem;
        }

        textarea {
         @extend input;
        }
    }

    &__btn {
        margin: 1rem auto;
        padding: .5rem;
        border-radius: .5rem;
        border: 1px solid black;
        font-family: inherit;
        font-size: 1.25rem;
        font-weight: 100;
        letter-spacing: .25rem;
        width: 8rem;
        background-color: white;
    }
    
    &__btn:hover {
        background-color: black;
        border: 1px solid white;
        color: white;
    }
}

@media (min-width: 700px) {
    .contact {
        width: 45rem;
        margin: 0 auto;

        &__header {
            font-size: 2.8rem;
        }
    }
}
