footer {
    background:$footer;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        font-size: .8rem;
        opacity: .6;
    }
}

.page-break {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;

    &__btn {
        opacity: .7;
        cursor: pointer;
        font-size: 2rem;
    }
}

.social__links {
    

    ul {
        list-style: none;
        text-align: center;
        overflow: hidden;
        padding: .75rem 0;
    }

    li {
        display: inline-block;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &__button {
        margin: 0 10px;
    }
}

@media(min-width: 700px) {
    .page-break {
        &__btn {
            font-size: 3rem;
        }
    }
}