button {
    border-radius: 0;
    border: none;
}

// nav menu styles

#scrollStop { //stops scroll down function above about me section
    height: 30px;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1d1e20;
    position: fixed;
    height: 60px;
    top: -60px;
    width: 100%;
    transition: top 0.3s;
    z-index: 102;

    #logo {
        img {
            height: 1.6rem;
            width: auto;
        }
    }

    .link {
        color: inherit;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        cursor: pointer;
    }

    .link:hover {
        color: #cccccc;
    }
}

@media (min-width: 700px) {
    #navbar {
        justify-content: flex-end;

        #logo {
            position: absolute;
            left: 0;
            margin: 0 auto;
            margin-left: 2rem;
            img {
                height: 2.3rem;
                width: auto;
            }
        }
        .link {
            font-size: 1.5rem;
            padding: .5rem;
            margin-left: 2rem;
        }

        #contact-link {
            margin-right: 2rem;
        }
    }
}
