.header {
    font-family: 'Noto Sans JP', sans-serif;
    width: 100%;
    top: 0;
    left: 0;
    background: $flashWhite;
    font-weight: 700;
    font-size: 1.2em;

    &__logo {
        width: 25vw;
        display: inline-block;
    }

    &__logo-item {
        color: $pastelRed;
        text-decoration: none;
        width: 100%;
    }
}

.toggle-menu {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    padding: 0;

    &__icon {
        width: 25px;
        height: 20px;
        position: absolute;
        top: 33%;
        left: 33%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: 3px;
            background-color: $pastelRed;
        }

        span {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: inherit;
            height: 3px;
            background-color: $pastelRed;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: inherit;
            height: 3px;
            background-color: $pastelRed;
        }
    }
}

button {
    border-radius: 0;
    border: none;
}