.hero {
    color: $slateGray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    
    &__header--large {
        font-weight: 700;
        font-size: 2rem;
    }

    &__header--small {
        font-weight: 400;
        font-size: 1.5rem;
    }

    &__btn {
        color: inherit;
        position: absolute;
        bottom: 2rem;
        opacity: .5;
        cursor: pointer;
    }

}
