.hero {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    &__image {
        z-index: -2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero-background-380w.jpg");
        background-position: center;
        background-repeat: repeat;
        background-size: contain;
        filter: blur(2px);
        opacity: .25;
    }
    
    &__header--large {
        font-weight: 700;
        font-size: 2.5rem;
    }

    &__header--small {
        font-weight: 400;
        font-size: 1.5rem;
    }

    &__btn {
        color: inherit;
        position: absolute;
        bottom: 2rem;
        opacity: .7;
        cursor: pointer;
        font-size: 2rem;
    }

}

@media (min-width: 700px) {
    .hero {

        &__image {
            background-image: url("../images/hero-background-990w.jpg");
            filter: blur(6px);
            opacity: .25;
        }

        &__header--large {
            font-size: 5rem;
        }

        &__header--small {
            font-size: 2.5rem;
        }

        &__btn {
            font-size: 3rem;
        }
    }
}

@media(min-width: 1800px) {
    .hero {
        &__image {
            filter: blur(12px);
            opacity: .25;
        }
    }
}