.hero {
  color: #2f4858;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh; }
  .hero__header--large {
    font-weight: 700;
    font-size: 2rem; }
  .hero__header--small {
    font-weight: 400;
    font-size: 1.5rem; }
  .hero__btn {
    color: inherit;
    position: absolute;
    bottom: 2rem;
    opacity: .5;
    cursor: pointer; }

.about-me {
  text-align: center;
  line-height: 1.5; }
  .about-me__container--top {
    background: #2f4858;
    color: #f0f2ef;
    padding: 1rem;
    line-height: 2; }
  .about-me__content {
    padding: 1rem; }

.header {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  background: inherit;
  font-weight: 700;
  font-size: 1.2em;
  display: inline-block; }
  .header__logo {
    width: 25vw;
    display: inline-block; }
  .header__logo-item {
    color: #ff6b6b;
    text-decoration: none;
    width: 100%; }

button {
  border-radius: 0;
  border: none; }

#scrollStop {
  height: 40px; }

#navbar {
  display: flex;
  justify-content: center;
  background-color: #ff6b6b;
  position: fixed;
  height: 60px;
  top: -60px;
  width: 100%;
  transition: top 0.3s;
  z-index: 102; }
  #navbar .link {
    color: #f5f7f4;
    text-align: center;
    padding: 1rem;
    text-decoration: none; }
  #navbar .link:hover {
    color: #2f4858; }

footer {
  background: #f5f7f4;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer p {
    text-align: center;
    color: #2f4858;
    font-size: .8rem;
    opacity: .4; }

.page-break {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto; }
  .page-break__btn {
    color: #2f4858;
    opacity: .5;
    cursor: pointer; }

.social__links ul {
  list-style: none;
  text-align: center;
  overflow: hidden;
  padding: .75rem 0; }

.social__links li {
  display: inline-block;
  cursor: pointer; }

.social__links a {
  text-decoration: none;
  color: #2f4858; }

.social__links__button {
  margin: 0 10px; }

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #f0f2ef; }
  .skills__header {
    text-align: center;
    font-size: 2em;
    font-weight: 400; }
  .skills__header--section {
    text-decoration: underline;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .3rem; }
  .skills__list--item.postgre {
    background-image: url(../images/PostgreSQL_logo.3colors.120x120.png);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 6rem;
    height: 3rem;
    margin: 2rem auto;
    transform: translateX(1.5rem); }
  .skills__list--item.jquery {
    background-image: url(../images/jquery-2.svg);
    transform: translateY(1.3rem);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 6rem;
    height: 3rem;
    margin: 2rem auto; }
  .skills__list--item.PostCSS {
    background-image: url(../images/postcss.svg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 6rem;
    height: 3rem;
    margin: 2rem auto; }
  .skills__list--item.mongodb {
    background-image: url(../images/mongodb.svg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 6rem;
    height: 3rem;
    margin: 2rem auto; }
  .skills .fa-plus {
    transform: translateY(-0.75rem);
    color: #2f4858; }
  .skills .fa-html5 {
    color: #e34f26; }
  .skills .fa-css3-alt {
    color: blue; }
  .skills .fa-js {
    color: #f7df1e; }
  .skills .fa-node {
    color: #6cc24a; }
  .skills .fa-npm {
    color: #cb3837; }
  .skills .fa-git {
    color: #4078c0; }
  .skills .fa-github-square {
    color: #4078c0; }
  .skills .fa-java {
    color: #ff0000; }
  .skills .fa-sass {
    color: #c69; }
  .skills .fa-gulp {
    color: #db4446; }
  @media (max-width: 31rem) {
    .skills {
      flex-direction: column; }
      .skills__list {
        list-style: none;
        padding-left: 0; }
      .skills__list--item {
        line-height: 2;
        text-align: center;
        height: 3rem;
        margin: 2rem auto; }
        .skills__list--item i {
          margin: .5rem .5rem; } }

.contact {
  font-family: 'Noto Sans JP', sans-serif; }
  .contact__header {
    text-align: center;
    font-size: 2rem;
    font-weight: 400; }
  .contact__form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem; }
    .contact__form input, .contact__form textarea {
      margin-bottom: .25rem;
      padding: .5rem .75rem; }
  .contact__btn {
    margin: 1rem auto;
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: 1px solid #2f4858;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: .25rem;
    width: 10rem; }
  .contact__btn:hover {
    color: #f0f2ef;
    background-color: #ff6b6b; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f0f2ef; }

.button {
  cursor: pointer; }
