//variables
$footer: #505153;
$body: #1d1e20;


@import "./hero.scss";
@import "./footer.scss";
@import "./contact.scss";
@import "./about.scss";
@import "./work.scss";
@import "./header.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $body;
    color: white;
}

.button {
    cursor: pointer;
}

