//variables
$footer: #505153;
$body: #1d1e20;


@import "_hero";
@import "_header";
@import "_footer";
@import "contact";
@import "about";
@import "work";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $body;
    color: white;
}

.button {
    cursor: pointer;
}

