.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh; }
  .hero__header {
    font-weight: 700;
    font-size: 4rem; }

.about-me {
  margin-left: 0;
  text-align: center;
  line-height: 1.5; }
  .about-me__container--top {
    background: #f7fff7;
    color: #2f4858;
    padding: 1rem;
    line-height: 2; }
  .about-me__header {
    font-size: 2.5rem; }
  .about-me__section {
    border: 1px solid #f7fff7;
    padding: 3.125rem 1.875rem; }
  .about-me__skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #f0f2ef; }
    @media (max-width: 31rem) {
      .about-me__skills {
        flex-direction: column;
        justify-content: center;
        align-content: center; }
        .about-me__skills ul {
          list-style: none;
          padding-left: 0; }
        .about-me__skills li {
          line-height: 2; } }

.header {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  background: #f0f2ef;
  font-weight: 700;
  font-size: 1.2em; }
  .header__logo {
    width: 25vw;
    display: inline-block; }
  .header__logo-item {
    color: #ff6b6b;
    text-decoration: none;
    width: 100%; }

.toggle-menu {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  padding: 0; }
  .toggle-menu__icon {
    width: 25px;
    height: 20px;
    position: absolute;
    top: 33%;
    left: 33%; }
    .toggle-menu__icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: 3px;
      background-color: #ff6b6b; }
    .toggle-menu__icon span {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: inherit;
      height: 3px;
      background-color: #ff6b6b; }
    .toggle-menu__icon::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: inherit;
      height: 3px;
      background-color: #ff6b6b; }

button {
  border-radius: 0;
  border: none; }

footer {
  background: #2f4858;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer p {
    text-align: center;
    color: #f7fff7;
    font-size: .8rem; }

.contact {
  font-family: 'Arvo', serif; }
  .contact__header {
    text-align: center; }
  .contact__form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem; }
    .contact__form input, .contact__form textarea {
      margin-bottom: .25rem;
      padding: .5rem .75rem; }
  .contact__btn {
    margin: 1rem auto;
    padding: 1rem 1rem;
    border-radius: 8px;
    font-family: inherit;
    width: 10rem; }

.social__links {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f0f2ef; }

.button {
  cursor: pointer; }
