//variables
$slateGray: #2f4858;
$flashWhite: #f0f2ef;
$flashWhiteLight: #f5f7f4;
$pastelRed: #ff6b6b;
$mintCream: #f7fff7;

@import "_hero";
@import "_header";
@import "_footer";
@import "skills";
@import "contact";
@import "about";
@import "work";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: $flashWhite;
}

.button {
    cursor: pointer;
}

