.wrapper {

    .about {
        padding: 0 1rem;

        &__content {
            padding: 2rem;
            &__image {
                width: 100%;
                img {
                    width: 280px;
                    border-radius: 50%;
                }
            }
        }
    }
}